.gradient-background {
  background: linear-gradient(300deg, #042962, #4297b1, #ffffff);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  height: 10%;
  max-height:max-content;
  border-radius: 75%;
  border: black;
}

.background-img111111 {
  /* background-image: url('../images/Tsunami_by_hokusai.jpg'); */
  /* opacity: 70%; */
  background-size: cover;
  background-position: center; /* Optional: centers the image */
  background-repeat: no-repeat; /* Prevents tiling */
  height: 90vh; /* Adjust the height as needed */
  width: 100%; /* Ensure element has dimensions */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; /* Center text horizontally */
}

.background-img {
  position: relative;
  display: flex;
  align-items: center;
  height:90vh;
  width:100%;
}

.background-img:after {
  content:'';
  background-image: url('../images/Tsunami_by_hokusai.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  height:90vh;
  width:100%;
  top:0px;
  left: 0px;
  z-index:-1;
  opacity: 80%; /* Here is your opacity */
}

#scrollToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  display: none; /* Hidden by default */
}

#scrollToTopBtn svg {
  height: 40px;
}

@media (max-width: 768px) {
  #scrollToTopBtn svg {
    height: 30px;
  }
}

body {
  display: none; /* Hide content until image is loaded */
}